@model UserModel
 
<div class="title">
    <h2>KULLANICI EKLE</h2>
</div>
<div class="content">
    <div class="form-container">
        <div class="table-btn-geri-box">
            <a class="table-btn-geri" asp-controller="AdminAccount" asp-action="IndexAccount">Geri</a>
        </div>
        <form class="form-container-alt" asp-controller="AdminAccount" asp-action="Register" method="post">
            <div class="form-item-2">
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="UserAdi"></span>
                    <label>Ad *</label>
                    <input asp-for="UserAdi" type="text">
                </div>
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="UserSoyadi"></span>
                    <label>Soyad *</label>
                    <input asp-for="UserSoyadi" type="text">
                </div>
            </div>
            <div class="form-item-2">
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="UserName"></span>
                    <label>Kullanıcı Adı *</label>
                    <input asp-for="UserName" type="text">
                </div>
                <div class="form-item-1">
                    <span asp-validation-for="UserCinsiyet"></span>
                    <label>Cinsiyet</label>
                    <select asp-for="UserCinsiyet" class="select">
                        <option disabled selected>Seçiniz</option>
                        <option value="Kadın">Kadın</option>
                        <option value="Erkek">Erkek</option>
                    </select>
                </div>
            </div>
            <div class="form-item-2">
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="Password"></span>
                    <label>Şifre *</label>
                    <input asp-for="Password" type="password">
                </div>
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="RePassword"></span>
                    <label>Şifre Tekrar *</label>
                    <input asp-for="RePassword" type="password">
                </div>
            </div>
            <div class="form-item-2">
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="Email"></span>
                    <label>e Mail *</label>
                    <input asp-for="Email" type="text">
                </div>
                <div class="form-item-1">
                    <span asp-validation-for="EmailConfirmed"></span>
                    <label>e Mail Onay</label>
                    <select asp-for="EmailConfirmed" class="select">
                        <option disabled selected>Seçiniz</option>
                        <option value="True">Evet</option>
                        <option value="False">Hayır</option>
                    </select>
                </div>
            </div>
            <div class="form-item-1">
                <span class="validation" asp-validation-for="PhoneNumber"></span>
                <label>Telefon Numarası</label>
                <input asp-for="PhoneNumber" type="number" placeholder="0(xxx) xxx xx xx">
            </div>
            
            <div class="form-item-1">
                <div>Rol Seçiniz</div>
                <div class="form-checkbox">
                    @foreach (var rolName in Model.TumRoller) {
                        <div class="checkbox">
                            <input  type="checkbox"
                                    name="SeciliRoller"
                                    value="@rolName"
                                    class="custom-control-input"
                                    id="@rolName"
                                    @* @(Model.SeciliRoller.Any(i => i == rolName) ? "checked" : "") *@
                                    
                            >
                            <label for="@rolName">@rolName</label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-btn-kaydet-box">
                <button class="form-btn-kaydet" type="submit">Kaydet</button>
            </div>
        </form>
    </div>
</div>